body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    width:initial;
    flex-grow: 1;
}

.top1 {
    display: flex;
    background-color: rgb(241, 209, 178);
    align-items: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.logo {
    text-shadow: 3px 3px 3px white;   
}

.links {
    display: flex;
    gap: 20px;
    list-style-type: none
}

.top2 {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(images/background.png);
    background-size:cover;
    background-repeat: no-repeat;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.introduction {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 30px;
    background-color: rgba(126, 27, 27, 0.6);
    margin: 10px;
    border: 10px;
    border-color: rgb(61, 16, 16);
    border-style:solid;
    border-radius: 20px;
}

.title {
    font-size: 64px;
    color:rgb(255, 217, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style:italic;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px black;
}

.description {
    font-size: 38px;
    color: rgb(207, 150, 44);
    font-weight:bolder;
    text-shadow: 1px 1px black;
}

 button {
    font-size: 40px;
    background-color: rgb(179, 119, 7);
    color: black;
    text-shadow: 1px 1px 1px wheat;
}


.title-image img {
    width: 600px;
    height: auto;
    opacity: 0.9;
    border: 10px;
    border-radius: 20px;
    border-style:solid;
    border-color: rgb(61, 16, 16);
}

.content {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width:inherit;  
    
    padding: 50px;
    background-color: rgba(250, 205, 150, 0.664);
}

.content-title {
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 60px;
    padding-bottom: 50px;
    font-family: 'Titan One', 'Times New Roman', Times, serif;
    font-weight: 900;
    text-shadow: 2px 2px 2px white;
}

.content-types {
    display: flex;
    width: fit-content;
    flex-grow: 0;
    gap: 100px;
}

.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-description1,
.image-description2,
.image-description3,
.image-description4 {
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-shadow:  2px 2px 2px black;
    font-family: 'Titan One', 'Times New Roman', Times, serif;
}

.image1,
.image2,
.image3,
.image4 {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    border-color: black;
    border: 10px rgb(233, 198, 145);
    border-radius: 100px;
    border-style:solid;
    box-shadow: 2px 2px 2px black;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: rgba(77, 10, 10, 0.795);
    padding: 180px;
}

.quote-itself {
    font-size: 70px;
    color: white;
    text-shadow: 3px 3px 3px black;
    padding: 20px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.quote p {
    text-align: end;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
}

